<index:>
  <div class="container">
    <view name="form" post="{{_page.post}}"></view>
  </div>

<form:>
  <h2>
    {{if post.id}}
      Edit {{post.name}}
      <a on-click="deletePost()" style="float:right;margin-top:3px" class="btn btn-danger">Delete</a>
    {{else}}
      Add a new post
    {{/}}
  </h2>
  <form role="form" class="well" on-submit="done()">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
            <field label="Name" has-error="{{nameError}}">
              <input type="text" class="form-control" as="nameInput" value="{{post.name}}" autofocus="{{!post.id}}">
            </field>
        </div>
         <div class="row">
            <div id="epiceditor" as="mdEditor">
              <textarea id="meck" as="textarea"></textarea>
            </div>
        </div>
      </div>

      <div class="col-md-3 col-md-offset-1">
        <div id="datepicker"></div>
      </div>

    </div>

    <button type="submit" class="btn btn-primary">
      {{if post.id}}Done{{else}}Add post{{/}}
    </button>
    {{unless post.id}}
      &sp;<button type="button" class="btn btn-link" on-click="cancel()">Cancel</button>
    {{/}}
  </form>

<field: element="field">
  <div class="form-group{{if @hasError}} has-error{{/if}}">
    <label class="control-label">{{@label}}</label>
    {{@content}}
  </div>

