<index:>
  <div class="container">
    <view name="list"></view>
  </div>

<list:>
  {{if posts}}
    <div>
    {{each _page.posts}}
    <div class="post">
      <header>
      <h2><a href="/post/{{this.id}}">{{this.name}}</a></h2>
      <small>{{formatDate(this.date)}}</small>
      </header>

      <div class="content">{{unescaped mdtohtml(this.content)}}</div>
    </div>
    {{/}}
    </div>
  {{else}}
    <h3>No post added yet.</h3>
    <p>How about <a href="/edit/new">adding one</a>?</p>
  {{/}}
